* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 3rem;
    background-color:rgb(12, 120, 163);
}

main {
    text-align: center;   
}
picture img {
    margin-bottom: 1rem;
    background-color: #000;
    animation: fade 15s;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


footer {
    text-align: center;
}
footer p {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

footer {
    background-color:rgb(12, 120, 163);
    color: #dadfe2;
    font-family: 'Quicksand', sans-serif;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer p:nth-last-of-type(1) {
    color: lime;
}