* {
    margin: 0;
    padding: 0;
}
/*Header*/
header {
    background-color:#062f87;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img {
    width: 30%;
    padding: 1rem;
}
header #menu {
    background-color: #27285ee8;
    color: #fff;
    padding: 0.2rem;
    border-radius: 25%;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2);
    width: 2.5rem;
    height: 2.5rem;

    position: relative;
    left: 2rem;
}
header #menu:hover {
    box-shadow: none;
    cursor: pointer;
}
header #menu::before {
	content: "☰";
    
}

/*Dark Mode*/
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
    padding-right: 60px;
}

/*NAV*/
nav {
   
    text-align: center;    
    background-color: silver;
    display: none;
}
nav li { 
    list-style: none;
    padding: 0.4rem;
}

nav li a {    
    text-decoration: none;
    color:white;
    
}
nav li:hover {
    background-color:silver;
    color: #FFF8EB;
    text-decoration: underline;
}

.open {display: block;}


/*MAIN*/

main {
    display:grid;
    margin: 0.8rem;
    grid-template-columns: repeat(4,1fr);
    gap: 0.3rem;
}

section,aside {
    background-color: rgba(155, 162, 228, 0.7);
    color: #010b27;
    font-family: 'Noticia Text', serif;
    padding: 1rem;
    border: 5px ridge hsl(234, 88%, 13%);
    border-radius: 25px;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
}

section .section-header, aside .section-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

section .section-header h2 {
    order: 2;
    ;
}

.social {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(155, 162, 228, 0.7);
    gap: 10px;
     
}

#hero-img-container {
    border: 5px ridge hsl(234, 88%, 13%);
    border-radius: 10px;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
    grid-column: 1/5;
    position: relative;
    text-align: center;
    font-family: 'Graduate', serif;

}
#hero-img-container img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    
}
#join-button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem;
    background-color: #062f87;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 50%;
    left: 0%;
    color: #fff;
    background-color: #062f87;
    font-size: 1.5rem;
    width: 100%;
}

#join {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

#join a {
    color: rgb(12, 9, 199);
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0.2rem;
    cursor: pointer;
    max-width: fit-content;
    margin: 0 auto;
}

#weather {
    grid-column: 3/5;
    text-align: center;
}

#weather #three-days-forecast {
    display: flex;
    justify-content: space-around;
}

#weather #three-days-forecast p::after {
    content: "°F"
}

#recent-news {
    width: 98%;
      
  }  

#events {
    grid-column: 2/3;
    
}

#events .event {margin-top: 10px;}
#events .event a {
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
#events h3 {
    font-style: italic;
    padding: 0.1rem;
    
}

aside {
    grid-column: 3/5;
    
}


footer {background-color: #062f87;
    text-align: center;
    color: #fff;
   padding: 1rem;
    font-size: 1.2rem;
}

#lastModified {
    color: #0cc50c;
}

/*icos*/

i {
    font-size: 2rem;
    color: #fff;
    order: 1;
  
    padding: 0.1rem;
    background-color: #000;
    border-radius: 30%;
}

#recent-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section-header {
    margin-bottom: 20px;
  }
  
  .new, .event {
    width: 70%; /* Adjust width as needed */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .new h3, .event a {
    margin-bottom: 10px;
  }
  
  .new p, .event p {
    margin-bottom: 10px;
  }
  

@keyframes fade {
    0%{
    opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
/*Advertisement*/

  .advertisement {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    
  }
  
  .advertisement img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .advertisement p {
    margin: 5px 0;
  }
  
  .advertisement a {
    text-decoration: none;
    color: blue;
  }
  

  /* Discover Page*/
  
  #discover {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
  }
  
  #sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-gap:10px;
    grid-template-areas:
      "main"
      "sidebar1";
    text-align: center;
  }
  
  #sidebar {
    grid-area: sidebar1;
    color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    border-color: var(--accent1-color);
    border-style: solid;
    height: auto;
    grid-row: 2 / 3;
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  p {
    font-size: medium;
  }
  
  #days,
  #date {
    color:rgb(199, 22, 169);
    
  }
  
  .hero {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as needed */
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white ; /* Adjust the color and opacity as needed */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    color: white;
  }

 .hero h1 {
    position: relative;;
   top:auto;
    left: 0%;
    color: hsl(206, 94%, 14%);
    background-color: white;
    font-size: 1.8rem;
    width: 40%;
    margin-top: -150px;
    margin-bottom: 50px;

}
  .hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .bat {
    text-align: center;
    font-size: 1.5em;
    color: hsl(221, 92%, 9%);
  }

/* ----- Main Styles ----- */
.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5% auto;
    width: 95%;
    gap: 5px;
}

.info-grid section {
    border: 5px ridge hsl(234, 88%, 13%);
    background-color: rgba(155, 162, 228, 0.7);
    border-radius: 25px;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
}

.info-grid section p {
    padding: 1%;
}

.stoney-img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 10px groove hsl(234, 88%, 13%);
}

.icon {
    max-width: 80px;
    height: auto;
    margin-top: 2%;
}

.icon:hover {
    transform: scale(1.3);
    box-shadow: 2px 3px 3px 1px hsl(234, 88%, 13%);
    border-radius: 15px;
}


/* ----- weather card styles ----- */
#current-weather,
#forecast-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3em;
}

#current,
#forecast {
    grid-column: 1/3;
}

.location-info,
.location-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#del-carmen,
#del-carmen-forecast {
    border-right: 5px groove hsl(234, 88%, 13%);
}

.weather-grid,
.description {
    grid-column: 1/3;
    margin: 0;
}

.temp-display {
    align-self: center;
    justify-self: right;
    margin-right: 10px;
    margin: 0;
}

#carmen-icon,
#puerta-icon {
    align-self: center;
    justify-self: left;
    margin-left: 5px;
    margin: 0;
}

#tomorrow-carmen-forecast,
#tomorrow-puerta-forecast {
    align-self: center;
    margin-left: 5px;
    margin: 0;
}

.description {
    text-transform: capitalize;
}

#contract li {
    text-align: left;
    padding: 3%;
}
/*Join Page*/


#join-main {
    display: flex;
  padding: .5rem 0;
  justify-content: center;
}

form {
    font-family: 'Noticia Text', serif;
}

form fieldset {
    margin: 2rem 0;
    border: 5px ridge hsl(234, 88%, 13%);
    border-radius: 25px;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 2%;
    background-color: rgba(155, 162, 228, 0.7);
}

form legend {
    color: #000;
    margin: 0 1rem;
    padding:  0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
}

.top input { display: block;}

#description {width: 100%;
padding: 2rem 0;}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
    --webkit-appearance: none;
    border-radius: 4px;
    padding: .5rem 0;
    width: 100%;
       
}

textarea {
    font-size: 20px; /* Adjust the font size as needed */
  }

  input{
    font-size: 18px;
  }
  

form label.sbs {
    display: block;
    padding: .5rem 0;
   text-align: center;
   display: block;
}


form input.joinBtn {
    border: none;
    background-color: #062f87;
    
    color: white;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    font-size: 1.2rem;
 
}

.button {
    display: flex;
    justify-content: center;
}

form label.top input:required {
    border-left: #3700ff solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

textarea {
    display: block;   
}

#boot {
    text-align: center;
    margin: 20px;
  }
  

fieldset select option {
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  fieldset label strong {
    font-size: 18px; /* Adjust the font size as needed */
  }
  

/*Thank you page*/

#main-thank-you {
    background-color: #fff;
    color: hsl(206, 94%, 14%);
    display: block;
    font-family: 'Graduate', serif;
}

#main-thank-you h2{
    padding: 0.5rem 0.2rem;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#main-thank-you p{
    color: hsl(206, 94%, 14%);
    padding: 0.5rem 0.2rem;
    text-align: center;
    font: 1.5em sans-serif;
    margin-bottom: 120px;
}


/* Directory Page Styles */

/* Main directory container */
#main-directory {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
}

/* Directory heading */
#directory-heading {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    background-color: white; /* Set background color */
    color: hsl(206, 94%, 14%); /* Set text color */
}

/* Card container styles for column layout */
#card-container.column {
    max-width: 100%; /* Ensure cards don't exceed maximum width */
    display: flex;
    flex-direction: column; /* Arrange cards vertically */
    align-items: center; 
    gap: 10px;/* Center-align items horizontally */
}

/* Card container styles for grid layout */
#card-container.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive grid layout */
    gap: 10px; /* Set gap between grid items */
}

/* Company card styles */
.company {
    border: 6px ridge hsl(234, 88%, 13%); /* Set border style */
    background-color: rgba(155, 162, 228, 0.7); /* Set background color with transparency */
    border-radius: 5px; /* Add border radius */
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5); /* Add box shadow */
    color: hsl(206, 94%, 14%); /* Set text color */
    text-align: center; /* Center-align text */
    gap: 20px; /* Set gap between elements */
}

/* Individual card container styles */
#card-container .container {

    text-align: center; /* Center-align text */
    padding: 1rem; /* Add padding */
    font-family: 'Noticia Text', serif; /* Set font family */
    color: #fff; /* Set text color */
    margin-top: 1rem; /* Add top margin */

}

/* Image styles within main directory container */
 .container img {
    width: 100%; /* Set image width */
    
}


/* Label styles */
label {
    display: block; /* Make label a block element */
    width: fit-content; /* Set width to fit content */
    margin: 1rem auto; /* Add margin */
}















